<head>
  {{ if .Title }}
  <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{ else }}
  <title>{{ .Site.Title }} - {{ .Params.name }}</title>
  {{ end }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <style>
    body { 
      background-color: #FFFFFE; 
    }
    hr {
      border: 0;
      clear: both;
      display: block;
      width: 98%;
      background-color: #4A2771;
      height: 2px;
    }
    .contact {
      padding-top: 15px;
    }
    .contact ul {
      list-style: none;
      text-align: right;
      margin-bottom: 0px;
    }
    .list-level-1 {
      list-style-type: disc;
    }
    .styless-list {
      padding-left: 0px;
      list-style: none;
    }
    h1, h2, h3, h4, h5, h6, dt {
      color: #4A2771;
    }
  </style>
</head>
