{{ define "main" }}
{{ partial "header.html" . -}}
<div class="row">
  <div class="col-12 col-sm-6 col-md-8 main-body">
  {{ partial "experience.html" . -}}
  <hr>
  {{ partial "education.html" . -}}
  <hr>
  {{ partial "accomplishments.html" . -}}
  <hr>
  {{ partial "references.html" . -}}
  </div>
  <div class="col-6 col-md-4 skills-body">
  {{ partial "skills.html" . -}}
  </div>
</div>
{{ end }}
