<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <meta charset="utf-8"/>
  {{ partial "head.html" . -}}
  <body>
    <div id="content" class="container-fluid">
    {{ block "main" . }}{{- end }}
    </div>
    {{ partial "footer.html" . -}}
  </body>
</html>
